.label-as-badge {
    border-radius: 1em;
}

.test {
	color: blue;
	font-size: 20pt;
	font-weight: bold;
}

.selectedOver {
	background-color: gray;
}
.selectedOut {
	background-color: white;
}
.selected {
	background-color: yellow;
}
